<!DOCTYPE html>
<html>
    <head>
        <title>Achlys-UQ</title>
        <link
            rel="shortcut icon"
            type="image/jpg"
            href="/static/icons/achlys_uq_favicon.ico"
        />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            href="/static/libraries/bootstrap-dist/css/bootstrap.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
        />
        <link rel="stylesheet" href="/static/styles/base.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap"
            rel="stylesheet"
        />
        <script src="/static/libraries/bootstrap-dist/js/bootstrap.min.js"></script>
        <script src="/static/libraries/jquery-3.6.0.min.js"></script>
        <script src="/static/client.js"></script>
    </head>
    <body>
        {% block content %} {% endblock %}
    </body>
</html>
